.list {
  width: 250px;
}

.list_item_text {
  color: #000000;
  margin-left: 16px;
}
.toolbar {
  background-color: #7a04eb;
  justify-content: space-between;
  gap: 0.625rem;
}

.caixa-esquerda-plataforma {
  display: flex;
  align-items: center;
}

.userName {
  color: black;
  margin: 0;
  margin-right: 10px;
  font-size: 1.3rem;
}

.userContainer {
  display: flex;
  justify-self: end;
  align-items: center;
  left: 84%;
}

.avatar {
  background-color: #7a04eb;
  border: none;
  cursor: pointer;
}
.logout {
  color: #000000;
  margin-left: auto;
  cursor: pointer;
}

.toolbar {
  display: flex;
  flex-direction: row;
}

.position_logo img {
  width: 150px;
}
.header {
  overflow: hidden;
  background-color: #7a04eb;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
  height: 100px;
  align-items: center;
  display: blocks;
}

.framelogo {
  width: 407px;
  height: 100px;
  left: 21px;
  top: 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.framelogo b {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  align-content: center;
  width: 220px;
  height: 32px;
  left: 0px;
  top: 53px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.position_logo {
}

.searchbar {
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .position_logo img {
  }
}

@media (max-width: 468px) {
  p.userName {
    display: none;
  }
}
